



<div class="cp_cont">
	<div class="cp_offcm01">
		<input type="checkbox" id="cp_toggle01">
		<label for="cp_toggle01"><span></span></label>
		<div class="cp_menu">
		<ul>
        <li><%= link_to 'POST📸', new_flower_path%></li>
        <li><%= link_to 'HOME🏠', root_path%></li>
        <li><a href="#">menu2</a></li>
		<li><a href="#">menu3</a></li>
		</ul>
		</div>
	</div>
	<div class="cp_contents">
		<h1>OKURIBANA</h1>
		</div>
	</div>
</div>


<div class="cp_modal02">
<input type="checkbox" id="cp_modal" />
<h1>For those of you who send flowers to your loved ones</h1>
<p>大切な人に花を贈る貴方へ</p>
<label for="cp_modal" class="cp_modal_btn"></label>
<label for="cp_modal" class="cp_modal_bg"></label>
<div class="cp_modal_cont">
<label for="cp_modal" class="cp_close"><i class="fa fa-times" aria-hidden="true"></i></label>
	<header>
		<h2>花の社会性</h2>
	</header>
	<article class="cp_content">
		<p>
        花は美しいとか華やかという視覚的な側面だけでなく、
        見る人の心を和らげ、豊かな生活を実感させてくれる側面も持っています。
         花は、人と人、人と社会をつなぐツールとして無限の可能性を秘めており、
         花が人や社会と関わり合うなかで、花と社会との係わり合いの中で、
         花が社会に及ぼすプラスの影響のことを “花の社会性” と呼ぶ。</p>
		<p class=""></p>
	</article>
	<footer><label for="cp_modal" class="cp_btn cp_cl">close</label></footer>
</div>
</div>

<div class="cp_imghover cp_blur">
<%= image_tag "Tinnacriss.jpeg"%>
</div>


</div>





