



/* contents */
.cp_contents {
    color: #333333;
    text-align: center;
    /* CSSコード */
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

h1 {
  font-family: 'OKURIBANA', cursive;
}


}

.asahianego{
    margin-left: 27%;
}

.tag{
    text-align: center;
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*, *::after, *::before {
	box-sizing: inherit;
}
*, *:before, *:after {
	box-sizing: border-box;
	outline: none;
}
.cp_modal02 {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
	color: #000000;
}
.cp_modal02:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(12, 64, 113, 0.7);
	z-index: -1;
}
.cp_modal02 .cp_content p {
	margin: 0;
	line-height: 1.5;
	text-indent: 1em;
}
.cp_modal02 p.citation {
	text-align: right;
}
.cp_modal02 p.citation::before {
	content: '00'
}
.cp_modal02 p:not(.citation) {
	margin-bottom: 1.5rem;
}
.cp_modal02 a {
	text-decoration: none;
}
.cp_modal02 label {
	cursor: pointer;
}
.cp_modal02 .cp_modal_btn {
	position: relative;
	display: table-cell;
	width: 100px;
	height: 100px;
	background-color: #2e2969;
	box-shadow: 0 0 40px rgb(255, 255, 255);
	border-radius: 50%;
	text-align: center;
	transition: box-shadow 250ms ease;
	color: #000000;
}
.cp_modal02 .cp_modal_btn::before {
	position: absolute;
	top:50%;
	left: 20%;

	@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

セレクタ {

    font-family: 'Noto Serif JP', sans-serif;
}
content: 'Tap';
	font-size: 1em;
	line-height: 0;
	display: inline-block;
	width: 4em;
	color: #ffffff;
}
.cp_modal02 .cp_modal_btn:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.cp_modal02 .cp_modal_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 10;
	visibility: hidden;
	transition: background-color 250ms linear;
}
.cp_modal02 .cp_modal_cont {
	position: absolute;
	top: 45%;
	left: 50%;
	width: 50%;
	height: 50%;
	overflow-y: scroll;
	margin-top: -18%;
	margin-left: -25%;
	padding: 30px;
	background-color: rgb(255, 255, 255);
	border-radius: 4px;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
	transform: scale(0);
	transition: transform 250ms ease;
	visibility: hidden;
	z-index: 20;
}
.cp_modal02 .cp_modal_cont .cp_close {
	position: relative;
	float: right;
	font-size: 18px;
	transition: transform 500ms ease;
	z-index: 11;
}
.cp_modal02 .cp_modal_cont .cp_close:hover {
	color: #da3c41;
	transform: rotate(180deg);
}
.cp_modal02 .cp_modal_cont header {
	position: relative;
	display: block;
	border-bottom: 1px solid #00bcd4;
	margin-bottom: 1.5em;
}
.cp_modal02 .cp_modal_cont header h2 {
	margin: 0 0 10px;
	padding: 0;
	font-size: 28px;
}
.cp_modal02 .cp_modal_cont article {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.75;
}
.cp_modal02 .cp_modal_cont footer {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	margin: 0;
	padding: 10px 0 0;
}
.cp_modal02 .cp_modal_cont footer .cp_btn {
	position: relative;
	padding: 10px 30px;
	border-radius: 3px;
	font-size: 14px;
	font-weight: 400;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	overflow: hidden;
}
.cp_modal02 .cp_modal_cont footer .cp_btn:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: rgba(88, 24, 26, 0.3);
	transition: width 250ms ease;
	z-index: 0;
}
.cp_modal02 .cp_modal_cont footer .cp_btn:hover:before {
	width: 100%;
}
.cp_modal02 .cp_modal_cont footer .cp_btn.cp_cl {
	background-color: #4f669f;
}
.cp_modal02 #cp_modal {
  display: none;
}
.cp_modal02 #cp_modal:checked ~ .cp_modal_bg {
	visibility: visible;
	background-color: #000000;
	opacity: 0.7;
	transition: background-color 250ms linear;
}
.cp_modal02 #cp_modal:checked ~ .cp_modal_cont {
	visibility: visible;
	transform: scale(1);
	transition: transform 250ms ease;
	z-index: 111;
}
@media only screen and (max-width: 480px) {
	.cp_modal02 .cp_modal_cont{
		top: 30%;
		left: 30%;
		width: 90%;
	}
}

/*Tinnacrissの花の画像ね、下のCSS*/

.cp_imghover {
	overflow: hidden;
	width: 400px;
	height: 400px;
	margin: 20px auto;
	border: 10px solid #ffffff;
	box-shadow: 0 0 5px #cccccc;
	cursor: pointer;
}
/*BLUR*/
.cp_blur img {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	-webkit-filter: blur(5px);
	filter: blur(5px);
}
.cp_blur img:hover {
	-webkit-filter: blur(0px);
	filter: blur(0px);
}



/*ここからメニューのやつ*/

*, *:before, *:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
.cp_cont {
	height: 7vh;
}
.cp_offcm01 {
	position: absolute;
	top: 20px;
	right: 20px;
	display: inline-block;
}
/* menu */
.cp_offcm01 .cp_menu {
	position: fixed;
	top: 0;
	right: -100vw;
	width: 250px;
	height: 100%;
	cursor: pointer;
	-webkit-transition: 0.53s transform;
	        transition: 0.53s transform;
	-webkit-transition-timing-function: cubic-bezier(.38,.52,.23,.99);
	        transition-timing-function: cubic-bezier(.38,.52,.23,.99);
	background-color: #607D8B;
	opacity: 0.8;
}
.cp_offcm01 .cp_menu ul {
	margin: 0;
	padding: 0;
}
.cp_offcm01 .cp_menu li {
	list-style: none;
}
.cp_offcm01 .cp_menu li a {
	display: block;
	padding: 20px;
	text-decoration: none;
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

.cp_offcm01 #cp_toggle01 {
	position: absolute;
	display: none;
	opacity: 0;
}
.cp_offcm01 #cp_toggle01:checked ~ .cp_menu {
	-webkit-transform: translateX(-100vw);
	        transform: translateX(-100vw);
}
/* menu toggle */
.cp_offcm01 #cp_toggle01 ~ label {
	display: block;
	padding: 0.5em;
	cursor: pointer;
	-webkit-transition: 0.5s transform;
	        transition: 0.5s transform;
	-webkit-transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
	        transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
	text-align: center;
	color: #333333;
}
.cp_offcm01 #cp_toggle01:checked ~ label {
	-webkit-transform: translateX(-250px);
	        transform: translateX(-250px);
}
.cp_offcm01 #cp_toggle01 ~ label::before {
	font-family: 'FontAwesome';
	content: '🥀';
	font-size: 2em
}
.cp_offcm01 #cp_toggle01:checked ~ label::before {
	content: '🥀';
}




